.main {
    width: 100%;
    height: 100vh;
    // position: absolute;

    overflow: hidden;

    // display: block;
    display: flex;

    &-menu {
        position: absolute;
        z-index: 1039;
        color: white;

        top: 20px;
        left: 20px;
        visibility: hidden;
        opacity: 0;

        @media screen and (max-width : 639px) {
            opacity: 1;
            visibility: visible;
        }
    }

    &-sidebar {
        height: 100%;

    }

    &-wrapper {
        height: 100%;
        flex: 1;

        @media screen and (min-width : 639px) {
            padding-left: 80px;
        }
    }


}