.home {
  height: 100%;
  width: 100%;

  z-index: 1003 !important;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 1rem;


  &-intro {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;

    h2 {
      font-size: 50px;
      font-weight: 800;
    }

    h3 {
      font-size: 20px;
      font-weight: 500;
      text-transform: capitalize;
    }
  }

  &-social {
    margin-top: 1.2rem;

    img {
      height: 30px;
      margin-right: 1.5rem;
      cursor: pointer;
    }
  }
}


canvas {
  // display: block;
  position: absolute;

  // vertical-align: bottom;
}

#particles-js {
  // position: absolute;

  height: 90vh;
  width: 90vw;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

// #tsparticles {
//   height: 1px;
//   width: 1px;

// }